body {
	font-size: 16px;
	line-height: 1.375;
	font-family: $main;
	font-smoothing: antialiased;
	overflow-x: hidden;
}

section, header, footer, main {
	position: relative;
}

svg, a {
	transition: 0.3s all;
}

input, button, textarea, select {
	font-size: 16px;
	line-height: 1.35;
	font-family: $main;
}

button {
	cursor: pointer;
	transition: 0.3s all;
}

.page {
	padding-bottom: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	font-weight: bold;
	font-size: 30px;
	line-height: 28px;
	color: $light;
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	&__line {
		flex-shrink: 0;
		display: flex;
		margin-right: 20px;
		content: "";
		width: calc(33% - 10px);
		height: 21px;
		background-color: $red;
		padding-left: 15px;
		padding-right: 15px;
		align-items: center;
	}
	&__text {
		flex-grow: 1;
		min-width: 0px;
	}
	&__control {
		flex-shrink: 0;
		display: flex;
	}
	&__link {
		text-decoration: none;
		color: $blue;
		font-weight: bold;
		font-size: 16px;
		line-height: 28px;
		&:hover {
			opacity: 0.7;
		}
	}
	&__crumb {
		text-decoration: none;
		color: $light;
		font-size: 14px;
		line-height: 19px;
		margin-right: 20px;
		font-weight: normal;
		&:hover {
			opacity: 0.7;
		}
	}
	&__arrow {
		height: 12px;
		width: 7px;
		transform: rotate(180deg);
		margin-right: 15px;
		&:last-child {
			margin-right: 0px;
		}
	}
	&__prev {
		flex-shrink: 0;
		height: 24px;
		width: 24px;
		border: 1px solid $dark;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: 0.3s all;
		outline: none;
		&:hover {
			border: 1px solid $light;
		}
		svg {
			display: block;
			height: 14px;
			width: 14px;
		}
	}
	&__next {
		flex-shrink: 0;
		height: 24px;
		width: 24px;
		border: 1px solid $dark;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: 0.3s all;
		outline: none;
		&:hover {
			border: 1px solid $light;
		}
		svg {
			display: block;
			height: 14px;
			width: 14px;
			transform: rotate(180deg);
		}
	}
	&__btn-disable {
		pointer-events: none;
		opacity: 0.6;
	}
}

.icon {
	display: block;
	height: 1rem;
	width: 1rem;
	fill: $blue;
}

.text {
	h3 {
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
	}
	h4 {
		font-weight: bold;
	}
	a {
		color: $light;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	ul {
		padding-left: 26px;
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}